# Ignore data files created by Prometheus, these are not in GIT but backed up by BackupPc
docker/prometheus/prometheus/data/

# JetBrains IDE Data
.idea/
*.iml

# Helm files
chart/release/*
chart/charts/*
chart/Chart.lock
chart/test/*
